html {
    height: 100vh;
}

body {
    display: flexbox;
    background-color: darkslateblue;
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

button {
    background-color: coral;
    border: none;
}